/* Blankslate */

.blankslate
  .blankslate-box
    .blankslate-item
      %h3.text-center Empty List
      %p.text-center There are no items to display.
      = link_to "Destroy this 'item'", "#", class: "button large blue altai-center"
