/* Notifications */

.notifications
  .notifications-box
    .notifications-item
      %h3.text-center Empty Notification
      %p.text-center There are no items to display.
      = link_to "Destroy this 'item'", "#", class: "button large green altai-center"
